<div data-controller="compose" data-compose-open-class="flex" data-compose-closed-class="hidden">
  <%= render InboxLayoutComponent.new(
    sidebar: SidebarComponent.new(current_folder: @folder, current_contact: current_contact),
    message_list_path: url_for(action: (@folder == "inbox" ? :index : @folder), only_path: true),
    message: @message,
    current_contact: current_contact
  ) %>

  <%= render ComposeModalComponent.new(contacts: @contacts) %>
</div>
